﻿body, h1, h2, ul, li, p, dd, dt, dl {
    margin: 0px;
    padding: 0px;
}

img {
    display: block;
    max-width: 100%;
}

ul {
    list-style: none;
}

body {
    background: #faf6ed;
    color: #222;
    -webkit-font-smoothing: antialiased;    
    grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr;
}

.menu {
    grid-column: 3 / 5;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: #FB5;
}

    .menu ul {
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
    }

    .menu li a {
        display: block;
        padding: 10px;
        margin-right: 10px;
        color: #222;
        text-decoration: none;
        font-family: "IBM Plex Mono", monospace;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 0.875rem;
        letter-spacing: .1em;
    }

.grid-section {
    grid-column: 2 / 4;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    display: grid;
    grid-template-columns: 90px 300px 1fr;
    grid-gap: 20px;
    margin-bottom: 4rem;
}

.titulo {
    font-family: "Playfair Display SC";
    font-size: 6rem;
    line-height: 1;
    font-weight: normal;
    margin-bottom: 1rem;
    grid-column: 1 / 4;
}

.animais p {
    font-family: "Helvetica";
    line-height: 1.2;
    margin-bottom: 1rem;
}

.animais h2 {
    font-family: "IBM Plex Mono", monospace;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-bottom: 1rem;
    color: #E54;
}

    .animais h2::before {
        content: '';
        display: inline-block;
        width: 40px;
        height: 10px;
        margin-right: 10px;
        background: #FB5;
    }

.animais-lista {
    height: 370px;
    overflow-y: scroll;
    grid-column: 2;
}

    .animais-lista::-webkit-scrollbar {
        width: 18px;
    }

    .animais-lista::-webkit-scrollbar-thumb {
        background: #FB5;
        border-left: 4px solid #faf6ed;
        border-right: 4px solid #faf6ed;
    }

    .animais-lista::-webkit-scrollbar-track {
        background: #faf6ed;
    }

.animais-descricao {
    grid-column: 3;
}

    .animais-descricao section {
        margin-bottom: 3rem;
    }

.faq-lista {
    grid-column: 2 / 4;
}

    .faq-lista dt {
        font-family: "IBM Plex Mono", monospace;
        font-weight: bold;
        margin-top: 2rem;
        margin-bottom: .5rem;
        color: #E54;
    }

        .faq-lista dt::before {
            content: '';
            display: inline-block;
            width: 20px;
            height: 10px;
            margin-right: 10px;
            background: #FB5;
        }

    .faq-lista dd {
        font-family: "Helvetica";
        margin-bottom: .5rem;
        margin-left: 30px;
    }

.mapa {
    grid-column: 2;
}

.dados {
    grid-column: 3;
}

    .dados li {
        margin-bottom: 1rem;
        font-family: Helvetica;
    }

        .dados li::before {
            content: '';
            display: inline-block;
            width: 20px;
            height: 10px;
            margin-right: 10px;
            background: #FB5;
        }

.copy {
    grid-column: 3/5;
    margin-bottom: 2rem;
    background: #FB5;
}

.copy p {
    padding: 20px;
    font-family: "IBM Plex Mono", monospace;
    font-weight: bold;
}

.js-tabcontent section {
    display: none;
}

.js-tabcontent section.ativo {
    display: block;
    animation: show .5s forwards;
}

.js-tabmenu li{
    cursor:pointer;
}

.js-accordion dd {
    display: none;
}

.js-accordion dt::after {
    content: '⬎';
    margin-left: 10px;
}

.js-accordion dt.ativo::after {
    content: '⬏';
    margin-left: 10px;
}

.js-accordion dd.ativo{
    display: block;
}

.js-accordion dt {
    cursor: pointer;
}

@keyframes slideDown{
    from{
        opacity: 0;
        max-height: 0;
    }
    to {
        opacity: 1;
        max-height: 200px;
    }
}


@keyframes show {
    from{
        opacity: 0;
        transform: translate3d(-30px, 0, 0)
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0)
    }
}

@media (max-width: 700px) {
    body{
        grid-template-columns: 1fr;
    }

    .menu, .grid-section, .copy {
        grid-column: 1;
    }

    .grid-section {
        grid-template-columns: 100px 1fr;
        grid-gap: 10px;
    }

    .animais-lista {
        grid-column: 1;

    }

    .faq-lista, .dados, .mapa {
        grid-column: 1/3;
    }

    .grid-section h1 {
        font-size: 3rem;

    }

    .menu {
        margin-top: 0px;
    }

    .copy {
        margin-bottom: 0px;
    }

    
}

.numeros-grid {
    grid-column: 2 / 4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}

@media (max-width: 700px) {
    .numeros-grid {
        grid-column: 1;
    }
}

.numeros-grid h3 {
    font-family: 'Playfair Display SC';
    font-size: 2rem;
    margin-bottom: .5rem;
}

.numeros-grid span {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
    font-size: 1.5rem;
    color: #E54;
}

[data-semana]::after{
    display:inline-block;
    content: '';
    width: 8px;
    height: 8px;
    background: #E54;
    border-radius: 50%;
    margin-left: 4px;
    border: 1px solid #000;
}

[data-semana].aberto::after {
    background: #3F4;
}
