﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Animais Fantásticos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC" rel="stylesheet">
    <script>document.documentElement.className += ' js';</script>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>
    <div class="grid-container">
        <nav class="menu" data-menu="suave">
            <ul data-menu="list" id="menu">
                <li><a href="#animais">Animais</a></li>
                <li><a href="#faq">Faq</a></li>
                <li><a href="#contato">Contato</a></li>
                <li><a data-modal="abrir" href="login.html">Login →</a></li>
            </ul>
        </nav>
        <section class="grid-section animais" data-anime="scroll" id="animais">
            <h1 class="titulo">Animais Fantásticos</h1>
            <ul class="animais-lista" data-tab="menu">
                <li>
                    <img src="img/imagem1.jpg">
                </li>
                <li>
                    <img src="img/imagem2.jpg">
                </li>
                <li>
                    <img src="img/imagem3.jpg">
                </li>
                <li>
                    <img src="img/imagem4.jpg">
                </li>
                <li>
                    <img src="img/imagem5.jpg">
                </li>
                <li>
                    <img src="img/imagem6.jpg">
                </li>
            </ul>
            <div class="animais-descricao" data-tab="content">
                <section data-anime="show-right">
                    <h2>Raposa</h2>
                    <p>
                        As raposas são animais mamíferos e onívoros pertencentes à família Canidae. São vulpídeos de porte médio, caracterizados
                        por um focinho comprido e uma cauda longa e peluda.
                    </p>
                    <p>Também apresentam como particularidade suas pupilas ovais, semelhantes às pupilas verticais dos felídeos.</p>
                </section>

                <section data-anime="show-right">
                    <h2>Esquilo</h2>
                    <p>
                        As raposas são animais mamíferos e onívoros pertencentes à família Canidae. São vulpídeos de porte médio, caracterizados
                        por um focinho comprido e uma cauda longa e peluda.
                    </p>
                    <p>Também apresentam como particularidade suas pupilas ovais, semelhantes às pupilas verticais dos felídeos.</p>
                    <p>
                        De cerca de 40 espécies reconhecidas como raposas, somente 12 pertencem ao gênero Vulpes das "raposas verdadeiras", do
                        qual a raposa vermelha é a mais comum.
                    </p>
                    <p>Também apresentam como particularidade suas pupilas ovais, semelhantes às pupilas verticais dos felídeos.</p>
                    <p>
                        De cerca de 40 espécies reconhecidas como raposas, somente 12 pertencem ao gênero Vulpes das "raposas verdadeiras", do
                        qual a raposa vermelha é a mais comum.
                    </p>
                    <p>Também apresentam como particularidade suas pupilas ovais, semelhantes às pupilas verticais dos felídeos.</p>
                </section>
                <section data-anime="show-down">
                    <h2>Urso</h2>
                    <p>
                        As raposas são animais mamíferos e onívoros pertencentes à família Canidae. São vulpídeos de porte médio, caracterizados
                        por um focinho comprido e uma cauda longa e peluda.
                    </p>
                    <p>Também apresentam como particularidade suas pupilas ovais, semelhantes às pupilas verticais dos felídeos.</p>
                    <p>
                        De cerca de 40 espécies reconhecidas como raposas, somente 12 pertencem ao gênero Vulpes das "raposas verdadeiras", do
                        qual a raposa vermelha é a mais comum.
                    </p>
                    <p>Também apresentam como particularidade suas pupilas ovais, semelhantes às pupilas verticais dos felídeos.</p>
                </section>
                <section data-anime="show-down">
                    <h2>Lobo</h2>
                    <p>
                        As raposas são animais mamíferos e onívoros pertencentes à família Canidae. São vulpídeos de porte médio, caracterizados
                        por um focinho comprido e uma cauda longa e peluda.
                    </p>
                    <p>Também apresentam como particularidade suas pupilas ovais, semelhantes às pupilas verticais dos felídeos.</p>
                    <p>
                        De cerca de 40 espécies reconhecidas como raposas, somente 12 pertencem ao gênero Vulpes das "raposas verdadeiras", do
                        qual a raposa vermelha é a mais comum.
                    </p>
                    <p>Também apresentam como particularidade suas pupilas ovais, semelhantes às pupilas verticais dos felídeos.</p>
                </section>
                <section data-anime="show-right">
                    <h2>Macaco</h2>
                    <p>
                        As raposas são animais mamíferos e onívoros pertencentes à família Canidae. São vulpídeos de porte médio, caracterizados
                        por um focinho comprido e uma cauda longa e peluda.
                    </p>
                    <p>Também apresentam como particularidade suas pupilas ovais, semelhantes às pupilas verticais dos felídeos.</p>
                    <p>
                        De cerca de 40 espécies reconhecidas como raposas, somente 12 pertencem ao gênero Vulpes das "raposas verdadeiras", do
                        qual a raposa vermelha é a mais comum.
                    </p>
                    <p>Também apresentam como particularidade suas pupilas ovais, semelhantes às pupilas verticais dos felídeos.</p>
                </section>
                <section data-anime="show-right">
                    <h2>Leão</h2>
                    <p>
                        As raposas são animais mamíferos e onívoros pertencentes à família Canidae. São vulpídeos de porte médio, caracterizados
                        por um focinho comprido e uma cauda longa e peluda.
                    </p>
                    <p>Também apresentam como particularidade suas pupilas ovais, semelhantes às pupilas verticais dos felídeos.</p>
                    <p>
                        De cerca de 40 espécies reconhecidas como raposas, somente 12 pertencem ao gênero Vulpes das "raposas verdadeiras", do
                        qual a raposa vermelha é a mais comum.
                    </p>
                    <p>Também apresentam como particularidade suas pupilas ovais, semelhantes às pupilas verticais dos felídeos.</p>
                </section>
            </div>
        </section>

        <section class="grid-section faq" data-anime="scroll" id="faq">
            <h1 class="titulo">FAQ</h1>
            <dl class="faq-lista" data-anime="accordion">
                <dt>Qual a idade dos animais?</dt>
                <dd>As raposas são animais mamíferos e onívoros pertencentes à família Canidae. São vulpídeos de porte médio, caracterizados por um focinho comprido e uma cauda longa e peluda.</dd>
                <dt>Eles são fantásticos?</dt>
                <dd>Também apresentam como particularidade suas pupilas ovais, semelhantes às pupilas verticais dos felídeos.</dd>
                <dt>Qual a diferença?</dt>
                <dd>As raposas são animais mamíferos e onívoros pertencentes à família Canidae. São vulpídeos de porte médio, caracterizados por um focinho comprido e uma cauda longa e peluda.</dd>
                <dt>Como proteger?</dt>
                <dd>Também apresentam como particularidade suas pupilas ovais, semelhantes às pupilas verticais dos felídeos.</dd>
            </dl>
        </section>

        <section class="grid-section numeros" data-anime="scroll">
            <h1 class="titulo">Números</h1>
            <div class="numeros-grid">
                <div class="numero-animal">
                    <h3>Lobos</h3>
                    <span data-numero>4874</span>
                </div>
                <div class="numero-animal">
                    <h3>Raposas</h3>
                    <span data-numero>5374</span>
                </div>
                <div class="numero-animal">
                    <h3>Esquilos</h3>
                    <span data-numero>12340</span>
                </div>
                <div class="numero-animal">
                    <h3>Ursos</h3>
                    <span data-numero>230</span>
                </div>
            </div>
        </section>

        <section class="grid-section contato" data-anime="scroll" id="contato">
            <h1 class="titulo">Contato</h1>
            <div class="mapa" data-tooltip aria-label="Endereço próximo ao estacionamento.">
                <img src="img/mapa.png">
            </div>
            <ul class="dados">
                <li>contato@origamid.com</li>
                <li>+55 (21) 9999-9999</li>
                <li>Rua do Conde, nº 21</li>
                <li>Rio de Janeiro - RJ</li>
                <li data-semana="1,2,3,4,5" data-horario="8,18">Seg à Sex das 8 às 18</li>
            </ul>
        </section>

        <footer class="copy">
            <p>Todos os direitos reservados.</p>
        </footer>
    </div>

    <section class="modal-container" data-modal="container">
        <div class="modal">
            <button data-modal="fechar" class="fechar">X</button>
            <form action="">
                <label for="email">Email</label>
                <input type="text" for="email" id="email">
                <label for="senha">Senha</label>
                <input type="password" for="senha" id="senha">
                <button type="submit">Entrar</button>
            </form>
        </div>
    </section>
    <script type="module" src="js/script.js"></script>
</body>
</html>