﻿<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Formulários JavaScript</title>
</head>
<body>

    <style>
        label {
            display: block;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-weight: bold;
            margin-bottom: .5rem;
            margin-top: 1rem;
        }

        form {
            max-width: 400px;
            margin: 0 auto;
        }

        input, textarea {
            width: 100%;
            box-sizing: border-box;
            padding: .5rem;
            border: 2px solid #000;
            font-size: 1rem;
            margin-bottom: .5rem;
        }

        textarea {
            height: 150px;
        }

    </style>

    <form name="contato" id="contato">
        <label for="nome">Nome</label>
        <input type="text" name="nome" id="nome" />
        <label for="email">Email</label>
        <input type="email" name="email" id="email" />
        <label for="mensagem">Mensagem</label>
        <textarea name="mensagem" id="mensagem"></textarea>
    </form>
    <span class="texto"></span>

    <script>
        const contato = document.querySelector("#contato");
        const texto = document.querySelector(".texto");

        function handleKeyUp(event) {
            console.log(event.target.value);
            texto.innerText = event.target.value;
        }

        contato.addEventListener('change', handleKeyUp);

    </script>
</body>
</html>